* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

#content {
  width: 970px;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  font-family: 'Open Sans', sans-serif;
}

/* elemento nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  color: #83BE9F;
}

ul {
  display: flex;
  list-style: none;
  gap: 48px;
}

ul a {
  text-decoration: none;
  font-family: 'Mulish', sans-serif;
  color: #1f1534;
}

nav strong {
  font-weight: bold;
  font-size: 22px;
}

ul a:hover {
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

/* main-content */

#main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}


/* section description */

#description {
  width: 420px;
}

#description h1 {
  font-size: 49px;
  font-weight:normal;
  line-height: 56px;
  color: #000;
  margin-bottom: 40px;
  font-family: 'Mulish', sans-serif;
}

#color-green {
  font-weight: bold;
  color: #89cca7;
}

#paragraph-content1, #paragraph-content2 {
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.paragraph-content1 {
  margin-top: 40;
}

button {
  margin-top: 40px;
  border-radius: 4px;
  background-color: #80bf9f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 14px 32px 15px;
  color: white;
  border: none;
}

button img {
  width: 25px;
  height: auto;
}

button:hover {
  padding: 16px 34px 17px;
}

/* footer */

footer {
  text-align: center;
}

footer a {
  color: #000;
  text-decoration: none;
}

#balls {
  display: flex;
  flex-direction: row-reverse;
}

strong a:hover {
  font-weight: bold;
  cursor: pointer;
}

